html{
    background-color: black;
    color: #ffffff
    
}


#main{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    width: 100%;
    height: absolute;
    padding: 0px 0px 5px 0px;
  }
  
  #title{
    background: linear-gradient(180deg, #c0c0c0, #000000);
    padding: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  #img-div{
    border-left: 5px;
    border-right: 5px;    
    border-radius: 100%;
    width: auto;
    padding: 10px;
    margin: 0px 12px;

  }
  
/* User Story #8: The img element should responsively resize, relative to the width of its parent element, without exceeding its original size.
User Story #9: The img element should be centered within its parent element.*/
  #image{
    height: auto;
    max-width: 100%;
    display: block;
    border-color: black;
    border-width: 10px;
    box-shadow: 0 0 0 10px #ffffff;
    text-align: center;
    margin:0 25% 0 25%;
    padding: 0.5% 8% 0.5% 8%;
    justify-content: center;

    }

  .image__inside {
    height: auto;
    max-width: 100%;
    display: block;
    text-align: center;
    margin:0.5% 8% 0.5% -0.8%;
    justify-content: center;
    padding: 0.5% 8% 0.5% 8%;

    }
  
  blockquote{
    font-style: italic;
  }
  
  ul{
    max-width:700px;
    margin:0 auto;
    text-align:left;
  }
  
  li{
    margin: 10px;
  }
  
 footer{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    height: absolute;
    padding: 5px 0px 5px 0px;
 }
 
 #tribute-info{
    text-align: center;
  }


  
